/* experimental style sheet -- copy and paste from style.css into here and mess with it! */

/*full page styling*/
h1,h2,h3,body,table{
    font-family:Helvetica,Arial,sans-serif;
}

#header{

}

.body{

}

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0;
}

.aboutme{
    width:25%;
    padding:5px;
    border-radius:5px;
}

#footnotes{
   a:link{}
   a:visited{}
   a:hover{}
   a:selected{}
}


